//
@font-face {
	font-family: 'MetaBlackCyrLF-Roman';
	src: url('../font/MetaBlackCyrLF-Roman.eot');
	src: url('../font/MetaBlackCyrLF-Roman.eot?#iefix') format('embedded-opentype'),
		url('../font/MetaBlackCyrLF-Roman.woff') format('woff'),
		url('../font/MetaBlackCyrLF-Roman.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
//
@font-face {
	font-family: 'MetaMediumCyr-Roman';
	src: url('../font/MetaMediumCyr-Roman.eot');
	src: url('../font/MetaMediumCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../font/MetaMediumCyr-Roman.woff') format('woff'),
		url('../font/MetaMediumCyr-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
//
@font-face {
	font-family: 'MetaNormalCyrLF-Roman';
	src: url('../font/MetaNormalCyrLF-Roman.eot');
	src: url('../font/MetaNormalCyrLF-Roman.eot?#iefix') format('embedded-opentype'),
		url('../font/MetaNormalCyrLF-Roman.woff') format('woff'),
		url('../font/MetaNormalCyrLF-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//
@font-face {
	font-family: 'MetaMediumCyrLF-Roman';
	src: url('../font/MetaMediumCyrLF-Roman.eot');
	src: url('../font/MetaMediumCyrLF-Roman.eot?#iefix') format('embedded-opentype'),
		url('../font/MetaMediumCyrLF-Roman.woff') format('woff'),
		url('../font/MetaMediumCyrLF-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


//
@font-face {
	font-family: 'MetaNormalCyr-Roman';
	src: url('../font/MetaNormalCyr-Roman.eot');
	src: url('../font/MetaNormalCyr-Roman.eot?#iefix') format('embedded-opentype'),
		url('../font/MetaNormalCyr-Roman.woff') format('woff'),
		url('../font/MetaNormalCyr-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//
@font-face {
	font-family: 'Myriad Pro';
	src: url('../font/MyriadPro-SemiboldIt.eot');
	src: url('../font/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		url('../font/MyriadPro-SemiboldIt.woff') format('woff'),
		url('../font/MyriadPro-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}